@import "src/assets/variable";
@import "src/assets/media";

.auth-container {
  word-break: break-word;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 100%;
  max-width: 520px;
  background-color: #fff;
  margin: 0;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 4px;
  height: 380px;
  overflow: hidden;

  @include phones-medium() {
    height: calc(100% - 70px);
    max-width: 100%;
    top: 70px;
    transform: unset;
    left: 0;
  }
}

.auth-header {
  background: linear-gradient(90deg, var(--primaryColor) 0%, var(--accentColor) 100%);
  padding-top: 1.5rem !important;
  padding-bottom: 1.5rem !important;
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  color: #fff;
}
