$dark-primary-contrast: #3d3d3d;
$light-primary-contrast: white;
$light-theme-primary-color: (
  50 : #e3ecf8,
  100 : #b9d0ef,
  200 : #8ab1e4,
  300 : #5b92d9,
  400 : #387ad0,
  500 : #1563c8,
  600 : #125bc2,
  700 : #0f51bb,
  800 : #0c47b4,
  900 : #0635a7,
  A100 : #d2ddff,
  A200 : #9fb6ff,
  A400 : #6c8fff,
  A700 : #537cff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #ffffff,
  )
);

$light-theme-accent-color: (
  50 : #e4f4fc,
  100 : #bce4f8,
  200 : #8fd2f3,
  300 : #62bfee,
  400 : #40b2eb,
  500 : #1ea4e7,
  600 : #1a9ce4,
  700 : #1692e0,
  800 : #1289dd,
  900 : #0a78d7,
  A100 : #ffffff,
  A200 : #cee6ff,
  A400 : #9bccff,
  A700 : #81bfff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);
